Makefile
cleanup*sh
setup*sh
install.history
*~
*.swp
*.pyc
*.log
*.root
InstallArea
amd64_linux26
amd64_*
Linux-i686
Linux-x86_64

*_rdict.pcm
*Dict.cc
*Dict.h
*.rootmap
/nbproject/*
/data/ckpt.t7
/data/ckpt_float.t7